/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 4rem auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.product-info {
  box-shadow: 10px 10px 30px gray;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  width: 20%;
}

.shipping {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  right: 0;
}

.title {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 1rem 0;
}
.price {
  font-weight: 700;
  font-size: 1.7rem;
  margin: 0.5rem;
}
.currencyFormat {
  font-size: 0.9rem;
  margin: 5px;
}
.emi {
  color: gray;
  font-size: 1.1rem;
}

.btn {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1.2rem;
  margin: 1rem 0;
  border: 0;
  border-radius: 20px;
}
.product-info:hover {
  .btn {
    background-color: rgb(254, 189, 9);
  }
}
h3 {
  font-size: 1.3rem;
  font-weight: 800;
  display: block;
}
img {
  width: 60%;
}

.flex-60 {
  flex: 1 1 70%;
}
.flex-20 {
  flex: 0 1 20%;
}
.sidebar {
  margin-top: 4rem;
  h2 {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
}

.size-btn {
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 10px;
  margin: 1rem;
  background-color: rgb(241, 241, 241);
  border-color: white;
  &:hover {
    border: 3px solid black;
  }
}
.closed-cart {
  position: fixed;
  top: 3rem;
  right: 1rem;
  span {
    position: absolute;
    background-color: yellow;
    color: black;
    left: 30px;
    padding: 5px;
    border-radius: 5px;
    top: 30px;
  }
}
.cart-btn {
  font-size: 1.5rem;
  color: white;
  background-color: black;
  padding: 0.7rem;
  border-radius: 10px;
}

.cart {
  position: absolute;
  width: 40vw;
  background-color: rgb(25, 25, 25);
  top: 0;
  right: 0;
  scroll-behavior: smooth;
  z-index: 2;
}
.close-btn {
  color: white;
  padding: 20px;
  font-size: 2rem;
  position: relative;
  left: -3rem;
  background-color: rgb(25, 25, 25);
  cursor: pointer;
}
.icon {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}
.quantity {
  position: relative;
  top: -5rem;
  left: 49%;
  background-color: yellow;
  color: black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;
}

/* cart-item*/

.cart-item {
  padding: 1rem;
  color: white;
  border: 2px solid black;
}
.item-info {
  width: 70%;
  h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 10px 0;
  }
  span,
  p {
    margin: 10px 0;
    color: gray;
  }
}

.cancel-btn {
  background-color: rgb(25, 25, 25);
  color: black;
  font-size: 1.3rem;
  float: right;
  border: none;
  font-weight: 900;
  &:hover {
    color: white;
  }
}
.item-price {
  color: orange;
  font-size: 1.6rem;
}
.i-btn {
  width: 50px;
  margin-left: 3rem;
  button {
    background-color: black;
    border: none;
    color: gray;
    margin: 1rem 0;
    font-size: 1.2rem;
    &:hover {
      background-color: rgb(25, 25, 25);
      color: white;
    }
  }
}

/* checkout section */

.checkout {
  background-color: rgb(25, 25, 25);
  z-index: 4;
  color: gray;
  position: sticky;
  bottom: 0;
  h3 {
    font-size: 2rem;
    margin: 1rem;
    text-transform: capitalize;
  }
}
.total-price {
  span {
    color: orange;
    font-size: 2rem;
  }
  p {
    margin: 1rem;
  }
}
.checkout-btn {
  background-color: gray;
  color: whitesmoke;
  padding: 1rem;
  width: 40vw;
  margin: 0 auto;
  font-size: 1.4rem;
}
.filter {
  width: 3;
  margin-right: 2rem;
  select {
    padding: 10px;
    border-radius: 10px;
  }
}

.active {
  background-color: rgb(255, 235, 9);
}
